.header {
	padding-top: 5px;
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(247,244,244,1) 0%, rgba(252,176,69,1) 31%, rgba(247,244,244,1) 100%);
}

.logo {
	width: 110px;
	height: 80px;

	img {
		width: 100%;
		height: 100%;
	}
}

.wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 70px;
}

.titleContainer {
	display: flex;
	align-items: center;
}

.description {
	margin: 0;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	width: 200px;
	text-align: center;
}
