.gallery {
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 70px 80px;
}

.title {
	margin: 0 0 35px;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
}

.list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}

